// Variables
$green: #eef9a4;
$green-dark: darken($green, 25%);

$orange: #ffdba8;
$orange-dark: darken($orange, 25%);

$purple: #a975b0;
$purple-dark: darken($purple, 25%);


// Reset
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%
}

body {
  background: #f2f2f2;
  color: #555;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

input, button, select {
  font-size: 1.9rem;
}

@import './components/title-bar';
@import './components/wrapper';
@import './components/item';
@import './components/buttons';
@import './components/player';
@import './components/form';
