.item {
  background: #fff;
  border: 1px solid #e8e8e8;
  margin-bottom: 1.3rem;
  padding: 1.3rem;
}

.item--position-1 {
  background: $orange;
  border: solid 4px $orange-dark;
}

.item--position-2 {
  background: $purple;
  border: solid 2px $purple-dark;
}

.item--position-3 {
  background: $green;
  border: solid 2px $green-dark;

}

.item__message {
  font-size: 1.7rem;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}
